.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Header {
  font-size: 60px;
  padding-top: 2rem;
}

/* write your parent styles in here for your App.js */
