body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-image: url("https://images.pond5.com/space-stars-4k-universe-flickering-footage-084866431_prevstill.jpeg");
  background-size: cover;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid grey; */
}
